.copyright {
  width: 200px;
  height: 100px;
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
